.forgot-container {
    height: 100vh;
  background: linear-gradient(to bottom, #e0f0ff, #84bff8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  
  .forgot-header .logo {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .forgot-header .sched {
    color: #00264d;
  }
  
  .forgot-header .pro {
    color: #008080;
  }
  
  .forgot-form {
    background-color: #fffaf9;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px solid #008080;
  }
  
  .forgot-form label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .forgot-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .reset-button {
    background-color: #008080;
    color: white;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .reset-button:hover {
    background-color: #006666;
  }
  
  .back-to-login {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
  }
  
  .back-to-login a {
    color: #166bb8;
    text-decoration: none;
    font-weight: bold;
  }
  
  .back-to-login a:hover {
    text-decoration: underline;
  }
  